// Erroe Page
.error-page{
	display: block;
    text-align: center;
	
	.icon-bx{
		margin: 0 0 10px;
	}
	.title{
		font-size: 36px;
		line-height: 36px;
		margin: 0 0 12px;
	}
	p{
		margin: 0;
		font-size: 15px;
	}
}